<div class="email_forward_message" style="padding: 10px 10px 25px 10px;">
<p><a href="<%= @online_address %>">Can't see this email properly? Click here</a></p><img src="<%= @viewed_url %>" width="0" height="0" />

<% if @forward_message %>
<p><%= @forward_message %></p>
<% end %>

</div>

<%= @html_content %>